*.sw?
/build
.classpath
.project
.settings
.metadata
.factorypath
bin
build
target
.springBeans
interpolated*.xml
build.log
_site/
.*.md.html
manifest.yml
MANIFEST.MF
settings.xml
activemq-data
overridedb.*
*.iml
*.ipr
*.iws
.idea
*.jar
.DS_Store
.factorypath
infer-out
lastbranch.bak
*/**/rebel.xml
*.dat
*.resourceCache
